# This is Git's per-user configuration file.
[user]
name = Ritwik 
email = ritwikvd@gmail.com

[pull]
rebase = true

[merge]
conflictstyle = diff3

[rerere]
enabled = true

[alias]
s = status
l = log --oneline --graph
c = commit
b = branch
bd = branch -D
p = push
pu = push -u
puo = push -u origin
sw = switch
swc = switch -c
r = restore
rs = reset --soft
rmm = reset
rh = reset --hard
sl = stash list
sd = stash drop stash@{0}
spo = stash pop
spu = stash push
can = commit --amend --no-edit
cp = cherry-pick
acp = "!read -r -p \"Commit Message: \" message && git add . && git c -m \"$message\" && git p"
acpo = "!read -r -p \"Commit Message: \" message && git add . && git c -m \"$message\" && git puo $(git rev-parse --abbrev-ref HEAD)"
acnp = "!git add . && git can && git p -f"
sacp = "!read -rp \"Branch Name: \" branch && read -rp \"Commit Message: \" message && read -rp \"Delete Branch (y|n): \" delete && git swc $branch && git add . && git c -m \"$message\" && git puo $branch && git sw - && test $delete=y && git bd $branch"

[core]
autocrlf = false
