{
 "useTabs": true,
 "printWidth": 120,
 "bracketSameLine": true,
 "jsxSingleQuote": false,
 "singleQuote": false,
 "semi": true,
 "trailingComma": "none",
 "arrowParens": "avoid",
 "tabWidth": 2,
 "bracketSpacing": true
}
